
@media screen and (min-width: 768px) {
  .log {
    width: 10%;
    height: 10%;
  }
  .sidenav {
    display: flex;
    flex-direction: row;
  }

  header {
    background-color: rgba(206, 94, 94, 0.868);
    text-align: center;
    font-size: 20pt;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    padding: 20px 0px 20px 0px;
    border: 1px solid lightgoldenrodyellow;
  }

  header ul {
    display: inline-flex;
    list-style-type: none;
    margin: 0px;
    padding: 0px;
  }

  header ul li {
    margin-left: 50px;
    width: 75%;
  }

  header ul li a {
    text-decoration: none;
    color: whitesmoke;
    font-family: Raleway, sans-serif;
    font-size: 50px;
  }

  header ul li a:hover {
    opacity: 0.6;
    transition-duration: 0.2s;
  }

  body {
    background: #f2f2f2;
    font-family: Raleway, sans-serif;
  }

  .has-search .form-control {
    padding-left: 2.375rem;
  }

  .has-search .form-control-feedback {
    position: absolute;
    z-index: 2;
    display: block;
    width: 2.375rem;
    height: 2.375rem;
    line-height: 2.375rem;
    text-align: center;
    pointer-events: none;
    color: #aaa;
    font-family: Raleway, sans-serif;
  }

  .form-group_has-search {
    margin-left: 45%;
    margin-top: 13%;
    width: 250%;
  }

  .selected{
    text-decoration: underline; 
  }

  footer {
    position: fixed;
    bottom: 0;
    width: 100%
    height: 80px;
    background-color: rgba(118, 108, 106, 0.868);
  }
}



@media screen and (max-width: 900px) {
  header {
    background-color: rgba(197, 184, 184, 0.868);
    text-align: center;
    font-size: 20pt;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    height: 40px;
    padding: 10px 0px 10px 0px;
    font-family: Raleway, sans-serif;
  }

  header ul {
    margin: 10px auto;
    padding: 0px;
    display: block;
    list-style-type: none;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 1.2s linear;
  }

  header ul li {
    background-color: rgb(197, 153, 33);
    border-bottom: solid 2px #555;
  }

  header ul li a {
    text-decoration: none;
    color: white;
  }

  header ul li:hover {
    background-color: saddlebrown;
    color: white;
    cursor: pointer;
  }

  header:hover ul {
    visibility: visible;
    opacity: 1;
  }

  footer {
    position: fixed;
    bottom: 0;
  }
}

#site-icon {
  width: 300px;
}