* {
  box-sizing: border-box;
}

html, body {
  height:100%;
  padding:0px;
  margin:0px;
  justify-content: space-between;
  
  font-family: Raleway, sans-serif;
}

main{
  background-color: #F5F5F5;
}


@media screen and (min-width: 750px) {
  .btn {
    padding: .5rem 1rem;
    background: #f0b9b9;
    color:white;
    border: 1px solid transparent;
    border-radius : .25rem;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
  }

  .btn-big {
    padding: .7rem 1.3rem;
    line-height: 1.3rem;
    float:right;

  }
  .btn:hover {
    color:white !important;
    background: #ebe4e4;
    transition : .25s;
  }

  .text-input {
    padding: .7rem 1rem;
    display:block;
    width:100%;
    border-radius: 5px;
    outline: none;
    color: #444;
    line-height: 1.5rem;
    font-family: Raleway, sans-serif;
    border: 1px solid lightgrey;
    font-size: 1.2em;
  }

  .header {
    width: 100%;
    top:0;
    height: auto;
  }

  .header .log {
    width: 10%;
    height: 10%;
  }

  .header .sidebar{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    flex-flow: wrap;
    align-items: center;
    background-color: rgba(206, 94, 94, 0.868);
  }

  .header .sidebar .nav{
    width: 75%;
    flex:auto;
    display:flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
    flex:1 1 160px;
    
  }

  .header .sidebar .nav .menu {
    width: 100%;
    display: flex; 
    flex-direction : row;
    justify-content: space-around; 
    flex-flow: wrap;
    align-items: center;
    list-style-type: none;
    width: auto;
    margin:0; 
    padding:0;
    list-style:none;
  }
  
  .header .sidebar .nav .menu #site-icon {
    width: 300px;
  }
  
  .header .sidebar .nav .menu li {
    width:auto;
    padding: 0.5em;
    text-align:start;  
    flex: 0 1 0;
    clear:left;
    margin-right: 10px;
    
 } 

  .header .sidebar .nav .menu li .nonsel{
    width:auto;
    text-decoration: none;
    color: whitesmoke;
    font-family: Raleway, sans-serif;
    font-size: 35px;
  }

  .header .sidebar .nav .menu li .selected{
    width:auto;
    text-decoration: none;
    color: lightgray;
    font-family: Raleway, sans-serif;
    font-size: 35px;
  }


  .header .nav .menu a:hover{
    opacity: 0.6;
    transition: all 0.3s;
  } 

  .header .sidebar .nav label { 
    margin: 0 40px 0 0;
    font-size: 26px;
    line-height: 70px;
    display:none;
    width: 26px;
  }

  .header .sidebar .search{
    flex:auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 20px;
    margin-right: 10px;
    margin-bottom: 5px;
    width:25%;
    max-width: 300px;
  }
  
  .header .sidebar .search a{
    color: white;
    border:2px solid whitesmoke;
    border-radius: .25rem;
    background:rgb(197, 197, 197);
    font-size:2em
  }
  
  .header .sidebar .search a:hover{
    color:grey;
    transition: all .25s;
  }

  .header .sidebar .search .input:focus{
    background:rgb(221, 221, 221);
    transition: all 0.2s;
  }

  .header #toggle {
    display:none;
  }

  .main {
    min-height:100%;
    margin-bottom: -300px;
  }

  .main:after {
    content:"";
    display:block;
  }

  .footer, .main:after{
    height:300px;
  }

  .footer {
    background: #303036;
    color: #d3d3d3;
    width:100%;
    bottom:0;
    font-family: Raleway, sans-serif;
  }
    
  .footer .footer-content {
    height:300px; 
    display:flex;
  }

  .footer .footer-content .footer-section{
    flex:1;
    padding:25px;
  }

  .footer .footer-content .footer-section h2 {
    font-weight:bold;
    color:lightgrey;
  }

  .footer .footer-content .about .contact span {
    display: block;
    font-size: 1.1em;
    margin-bottom: 8px;
  }
  
  .footer .footer-content .about .socials a {
    border: 1px solid grey;
    color:lightgrey;
    width: 45px;
    height: 45px;
    padding-top:10px;
    margin-right: 5px;
    text-align:center;
    display:inline-block;
    font-size:1.3em;
    border-radius: 5px;
  }
  
  .footer .footer-content .about .socials a:hover {
    border: 1px solid white;
    color: white;
    transition: all .25s;
  }
  
  .footer .footer-content .links ul a {
    display:block;
    margin-bottom:8px;
    font-size:1.2em;
  
    color: lightgray;
  }
  
  .footer .footer-content .links ul a:hover {
    color: white;
    text-decoration:none;
    margin-left:10px;
    transition: all 0.3s;
  }

  .footer .footer-content .contact-form .contact-input {
    background : rgb(77, 76, 76);
    color : lightgrey;
    margin-bottom: 8px;
    line-height: 1.5rem;
    padding: .9rem 1.4rem;
    border:none;     
  }

  .footer .footer-content .contact-form .contact-input:focus {
    background: rgb(59, 59, 59);
    transition: all .15s;
  }
  
  .footer .footer-bottom {
    background : #343a40;
    color: #686868;
    height: auto;
    text-align: center;  
    bottom:0;
    left:0px;
    width:100%;
    padding-top:15px;
    padding-bottom:5px;
  }
}
 

@media only screen and (max-width: 750px) {

  .header {
    width: 100%;
    height:auto;
    top:0;
    left: 0;
    background-color: rgba(206, 94, 94, 0.868);
    text-align: start;
    font-size: 20pt;
    font-family: Raleway, sans-serif;
  }

  
  .header .sidebar{
    width:100%;
    height: auto;
    background-color: rgba(206, 94, 94, 0.868);
    display: flex;
    flex-direction: row;
  }

  .header .sidebar .nav label {
    color:white;
    background-color: rgba(206, 94, 94, 0.868);
    width:15px;
    display:block;
    cursor:pointer;
  }

  .header .sidebar .nav .menu {
    position:absolute;
    width:100%;
    height:auto;
    list-style-type: none;
    left:0;
    transform : translateX(-150%);
    --webkit-tranform:translateX(-150%);
  }

  .header .nav .menu li {
    background-color: rgba(206, 94, 94, 0.868);
  }

  .header .nav .menu li a {
    color: white;
    text-decoration: none;
  }

  .header .nav .menu li a:hover {
    opacity: 0.5;
    color: white;
    cursor: pointer;
  }

  .header .sidebar .nav .menu.isOpen{
    transform : translateX(0%);
    --webkit-tranform:translateX(0%);
    background-color: rgba(206, 94, 94, 0.868);
    height:auto;
    padding-left: 0;
    z-index: 4;
  }

  .header .sidebar .nav .menu.isOpen li{
    left :0;
  }

  .header.isOpen{
    background-color: rgba(206, 94, 94, 0.868);
    width:100%;
    height:auto;
  }

  .header .sidebar .nav .menu li a {
    width:100%;
    display:block;
    border-bottom:1px solid #EAEAEB;
    
  }

  #toggle {
    -webkit-appearance: none;
    position: absolute;
    z-index:20;
    cursor:pointer;
  }

  #site-icon {
    width: 200px;
  }

  .header .sidebar .search{
    height:40px;
    flex:auto;
    display: flex;
    flex-direction: row;
    margin-left: 30px;
    width:50%;
    margin-right: 10px;
    margin-bottom: 5px;
    margin-top: 5px;
  }

  .header .sidebar .search.isOpen{
    display: none;
  }

  .header .sidebar .search a{
    color: white;
    border:2px solid whitesmoke;
    border-radius: .25rem;
    background:rgb(197, 197, 197);
  }

  .header .sidebar .search .search-input:focus{
    background:rgb(221, 221, 221);
    transition: all 0.2s;
  }

  .text-input {
    padding: .7rem 1rem;
    display:block;
    width:100%;
    max-width: 200px;
    border-radius: 5px;
    outline: none;
    color: #444;
    line-height: 1.5rem;
    font-family: Raleway, sans-serif;
    border: 1px solid lightgrey;
    font-size: 0.5em;
  }
  
/*FOOTER ICI*/

  .footer {
    background: #303036;
    color: #d3d3d3;
    width:100%;
    bottom:0;
    font-family: Raleway, sans-serif;
    display: flex;
    flex-direction:column;
  }
    
  .footer .footer-content{
    display:flex;
    flex-direction:column;
  }

  .footer .footer-content .footer-section{
    flex:1;
    padding:25px;
  }

  .footer .footer-content .footer-section h2 {
    font-weight:bold;
    color:lightgrey;
  }

  .footer .footer-content .about .contact span {
    display: block;
    font-size: 1.1em;
    margin-bottom: 8px;
  }


  .footer .footer-content .about .socials a {
    border: 1px solid grey;
    color:lightgrey;
    width: 45px;
    height: 45px;
    padding-top:10px;
    margin-right: 5px;
    text-align:center;
    display:inline-block;
    font-size:1.3em;
    border-radius: 5px;
  }

  .footer .footer-content .about .socials a:hover {
    border: 1px solid white;
    color: white;
    transition: all .25s;
  }

  .footer .footer-content .links ul a {
    display:block;
    margin-bottom:8px;
    font-size:1.2em;

    color: lightgray;
  }

  .footer .footer-content .links ul a:hover {
    color: white;
    text-decoration:none;
    margin-left:10px;
    transition: all 0.3s;
  }

  .footer .footer-content .contact-form .contact-input {
    background : rgb(77, 76, 76);
    color : lightgrey;
    margin-bottom: 8px;
    line-height: 1.5rem;
    padding: .9rem 1.4rem;
    border:none;
    
  }

  .footer .footer-content .contact-form .contact-input:focus {
    background: rgb(59, 59, 59);
    transition: all .15s;
  }
  .footer .footer-bottom {
    background : #343a40;
    color: #686868;
    height: auto;
    text-align: center;  
    bottom:0;
    left:0px;
    width:100%;
    padding-top:15px;
    padding-bottom:5px;
  }

  .btn {
    padding: .5rem 1rem;
    background: #f0b9b9;
    color:white;
    border: 1px solid transparent;
    border-radius : .25rem;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
  }

  .btn-big {
    padding: .7rem 1.3rem;
    line-height: 1.3rem;
    float:right;

  }
  .btn:hover {
    color:white !important;
    background: #ebe4e4;
    transition : .25s;
  }
}