/* Sliders */

	.fade {
		opacity : 1;
	}
	.mySlides {
		display: none
	}

	.slideshow-container .fade img {
		vertical-align: middle;
	}

	.slideshow-container {
		display: block;
		position: relative;
		z-index: 1;
	}

	.slideshow-container .prev,.slideshow-container .next {
		cursor: pointer;
		position: absolute;
		top: 50%;
		width: auto;
		padding: 16px;
		margin-top: -22px;
		color: white;
		font-weight: bold;
		font-size: 18px;
		transition: 0.6s ease;
		border-radius: 0 3px 3px 0;
	}

	.slideshow-container .next {
		right: 0;
		border-radius: 3px 0 0 3px;
	}

	.slideshow-container .prev:hover, .slideshow-container .next:hover {
		background-color: rgba(0, 0, 0, 0.8);
	}

	.slideshow-container .fade .dots {
		position: absolute;
		bottom: 10px;
		left: 30%;
		width: 40%;
	}

	.slideshow-container .fade .dots .dot {
		height: 12px;
		width: 12px;
		cursor: pointer;
		margin-left: 5px;
		background-color: white;
		border-radius: 50%;
		display: inline-block;
		transition: background-color 0.6s ease;
	}

	.slideshow-container .fade .dots .dot:hover {
		background-color: #717171;
	}

	.slideshow-container .fade {
		-webkit-animation-name: fade;
		-webkit-animation-duration: 1.5s;
		animation-name: fade;
		animation-duration: 1.5s;
	}

	

	@-webkit-keyframes fade {
		from {
			opacity: .4
		}
		to {
			opacity: 1
		}
	}

	@keyframes fade {
		from {
			opacity: .4
		}
		to {
			opacity: 1
		}
	}


